@import "../styles/mixins/colors";

.collapse {
  display: flex;
  flex-direction: column;
}

.headband {
  position: relative;
  width: 80%;
  height: 52px;
  background-color: $primary-color;
  border-radius: 5px;
  margin-left: 10%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  .title {
    margin-left: 20px;
    font-weight: 500;
    color: white;
    font-size: 24px;
    font-family: "Montserrat";
  }

  .arrow {
    width: 32px;
    height: 32px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform: rotate(0deg);
      transition: transform 0.5s ease;
    }

    &.rotate img {
      transform: rotate(-180deg);
    }
  }
}

.description {
  position: relative;
  width: 80%;
  background-color: $background-color;
  border-radius: 5px;
  margin: -35px 0 30px 10%;
  z-index: 1;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;

  &.open {
    max-height: 200px;
    transition: max-height 0.5s ease;
  }

  p {
    padding: 10px;
    color: #ff6060;
    font-size: 18px;
    font-family: Montserrat;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
  }

  &.open p {
    transform: translateY(0);
    transition: transform 0.5s ease;
  }
}