@import '../styles/mixins/colors';

.location-grid {
    height: 829px;
    border-radius: 25px;
    background: $background-color;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .cards {
        display: flex;
        width: 100%;
        margin: 50px;
        gap: 30px;
        flex-wrap: wrap;
    }
        .card-container {
            width: calc(33.33% - 20px);
        }
        
}

@media (min-width: 992px) {
    .card-container {
      width: calc(33.33% - 30px); /* Divisez par trois la largeur pour obtenir trois colonnes de cartes */
    }
}