@import '../styles/mixins/colors';

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 57px;
    width: 309px;
    font-size: 24px;

    @media (max-width: 700px) {
        gap: 26px;
    }
    
        a {
            color: $primary-color;
            font-size: 24px;
            font-weight: 500;
            text-decoration: none;
            text-align: right;
                &:hover {
                    text-decoration: underline;
                }
        }

        @media (max-width: 700px) {
            a {
              font-size: 12px;
              text-transform: uppercase;
            }
          }
}
