.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #FF6060;
    height: 25px;
    color: #FFF;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;

    @media (max-width: 900px) {
        height: 18px;
        font-size: 10px;
        border-radius: 5px;
    }
}